<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>-->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!--<property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>-->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.autocommit">true</property>
    <mapping class="com.prueba.spring.entidades.Colaborador"/>
    <mapping class="com.prueba.spring.entidades.Evento"/>
    <mapping class="com.prueba.spring.entidades.Usuario"/>
  </session-factory>
</hibernate-configuration>
